<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/users/signup" method="post">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Full Name" aria-label="fullname" name="email">
            </div>
            <div class="col">
              <input type="email" class="form-control" placeholder="Email" aria-label="email" name="email">
            </div>
            <div class="col">
                <input type="password" class="form-control" placeholder="password" aria-label="password" name="password">
            </div>
        </div>
    </form>
    <%- include("./partials/scripts") %>
</body>
</html>